
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
    font-size: 1.1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1.3;
  }

  a {
    color: white;
    text-decoration: none;
  }

  ul {
    list-style: none;
  }

  img {
    width: 100%;
  }

  .container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
  }

  .navbar {
    font-size: 1.2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.3rem;
    background-color: black;
    color:white;
  }

  .navbar .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }

  .navbar .logo {
    font-size: 2rem;
  }

  .navbar ul {
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar a {
    padding: 0 1rem;
  }

  .navbar a:hover {
    color: #555;
  }

  .section-a {
    margin: 2rem 0;
  }

  .section-a .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    align-items: center;
    justify-content: center;
  }

  .section-a h1 {
    font-size: 4rem;
    color: black
  }

  .section-a p {
    margin: 1rem 0;
  }

  .section-b {
    position: relative;
    background: url("omaha.png") no-repeat bottom center/cover;
    height: 800px;
  }

  .section-b-inner {
    color: black;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    max-width: 700px;
    padding: 5rem 0;
  }


  .section-b-inner h2 {
    font-size: 2rem;
    margin-top: 1rem;
  }

  .section-b-inner h3{
    font-size: 4rem;
    margin-top: 1rem;
  }

  .section-b-inner p {
    margin-top: 1rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .section-b-inner div{
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
  }

  .section-c {
    position: relative;
    background: white;
    height: 600px;
  }

  .section-c h1{
    text-align: center;
    margin-top: 1rem;
    font-size: 3rem;
  }

  .section-c-inner {
    color: black;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    max-height: 100%;
    padding: 5rem 0;

  }
  .section-c-inner div{
    border: 2px solid black;
    border-radius: 15px;
    background: #f1f1f1;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
  }

  .section-c-inner h3 {
    font-size: 2rem;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }


  .section-c-inner p {
    margin: 1rem;
    font-size: 1.5rem;
  }

  .section-d {
    position: relative;
    background: white;
    height: 1100px;
    background: white;

  }

  .section-d h1{
    text-align: center;
    margin-top: 5rem;
    font-size: 3rem;
  }

  .section-d-inner {
    color: black;
    height: 100%;
    flex-direction: column;
    max-height: 100%;
    margin-top: 1rem;

  }
  .section-d-inner div{
    border: 2px solid black;
    border-radius: 15px;
    background: #f1f1f1;
    margin-left: 1rem;
    max-width: 50%;
    margin-bottom: 2rem;
  }

  .section-d-inner h3 {
    font-size: 2rem;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .section-d-inner p {
    margin: 1rem 5rem 1rem 5rem;
    font-size: 1.5rem;
    text-align:center;
  }

  .section-d-inner img{
    width: 500px;
    height:auto;
    float: right;
    margin-right: 100px;
  }


  .section-e {
    position: relative;
    background: white;
    height: 600px;
    background: white;

  }

  .section-e h1{
    text-align: center;
    margin-top: 5rem;
    font-size: 3rem;
  }

  .section-e-inner {
    color: black;
    height: 100%;
    flex-direction: column;
    max-height: 100%;
    margin-top: 1rem;

  }
  .section-e-inner div{
    border: 2px solid black;
    border-radius: 15px;
    background: #f1f1f1;
    margin-left: 1rem;
    max-width: 50%;
    margin-bottom: 2rem;
  }

  .section-e-inner h3 {
    font-size: 2rem;
    margin-top: 1rem;
    text-align: center;
  }


  .aboutHeader {
    margin: 1rem 5rem 1rem 5rem;
    font-size: 1.5rem;
    text-align:center;
  }

  .section-e-inner p {
    margin: 1rem 5rem 1rem 5rem;
    font-size: 1.5rem;
    text-align:center;
  }

  .section-e-inner img{
    width: 600px;
    height:auto;
    float: right;
    margin-right: 100px;
  }

  .section-footer {
    background: #010101;
    color: #fff;
    padding: 4rem 0;
  }

  .section-footer .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }

  .section-footer h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .section-footer h3 {
    margin-bottom: 0.7rem;
  }

  .section-footer a {
    line-height: 1.9;
    color: #ccc;
  }

  .section-footer a > i {
    color: #555;
    margin-right: 0.5rem;
  }


  .btn {
    display: inline-block;
    background-color: #173555;
    color: white;
    margin-top: 1rem;
    padding: 0.8rem 1.5rem;
    cursor: pointer;
    font-size: 1.3rem;
    border-radius: 30px;
  }


  .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  #payment{
    background: url("payment.png") no-repeat bottom center/cover;
  }



